# Доменное имя на котором будет запущено приложение
DOMAIN_NAME=learn.docker.vi.works

# ---------------------------
# DJANGO
# ---------------------------
# Секретный ключ. Используется для криптографической подписи
# python3 -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
DJANGO_SECRET_KEY=__CHANGEME__
# Парамтеры подключения к базе данных
## Эти переменные используются в Django-приложении и Docker-образе postgres
# Имя базы данных
POSTGRES_DB=vi-learn-docker
# Имя пользователя базы данных
POSTGRES_USER=vi-learn-docker
# Пароль пользователя базы данных
POSTGRES_PASSWORD=vi-learn-docker
## Эти переменные используются только в Django-приложении
# Адрес подключения к базе данных
DJANGO_DATABASE_HOST=localhost
# Порт подключения к базе данных
DJANGO_DATABASE_PORT=5432
# Время жизни соединения с базой данных. По умолчаниюЖ: 60 с
DJANGO_DATABASE_CONN_MAX_AGE=60
# Дополнительные параметры подключения к БД. По умолчанию: {"connect_timeout": 10, "options": "-c statement_timeout=15000ms"}
DJANGO_DATABASE_OPTIONS=
# Адреса с которых разрешено подключение. Используется в DEBUG=False
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
# Проверка сборка статики. Используется в production-режиме. По умолчанию: False
DJANGO_COLLECTSTATIC_DRYRUN=False
# Префикс который будет добавлен перед всеми url-адресами
DJANGO_URL_PREFIX=
# Уровень логов для root логгера. По умолчанию: INFO
DJANGO_LOG_LEVEL=INFO
# Параметры подключения к SMTP-серверу для восстановления пароля. По умолчанию: dummymail://
DJANGO_EMAIL_URL=dummymail://

# ---------------------------
# DJANGO-CORS-HEADERS
# ---------------------------
# DJANGO_CORS_ALLOWED_ORIGINS. Список адресов с которых разрешены межсайтовые запросы. Вместе с указанием схемы
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost,http://127.0.0.1
# CORS_ALLOWED_ORIGIN_REGEXES. Список регулярных выражений для адресов с которых разрешены межсайтовые запросы
DJANGO_CORS_ALLOWED_ORIGIN_REGEXES=
# DJANGO_CORS_ORIGIN_ALLOW_ALL. Разрешить межсайтовые запросы со всех сайтов. По умолчанию: False
DJANGO_CORS_ORIGIN_ALLOW_ALL=

# ---------------------------
# SENTRY.IO
# ---------------------------
# SENTRY_DSN. uri-адрес для подключения к сервису Sentry.IO
SENTRY_DSN=

# ---------------------------
# DJANGO WITH CELERY
# ---------------------------
# Уровень логирования Celery-задач. По умолчанию: INFO
CELERY_LOG_LEVEL=INFO
# Уровень логирования сообщений в пользовательских Celery-задачах. По умолчанию: INFO
CELERY_TASK_LOG_LEVEL=INFO
# Адрес брокера сообщений Redis. Обязательно. БД 0 НЕ ИСПОЛЬЗОВАТЬ
CELERY_BROKER_URL=
# Дополнительные параметры брокера для хранения сообщений
CELERY_BROKER_TRANSPORT_OPTIONS=visibility_timeout=300
# Адрес бекэнда для хранения результатов
CELERY_RESULT_BACKEND=django-db
# Запускать задачи в параллельном режиме
CELERY_TASK_ALWAYS_EAGER=no
# Время жизни результата Celery-задач. В минутах
CELERY_RESULT_EXPIRES=2

# ---------------------------
# REDIS
# ---------------------------
# Адрес подключение к Redis как key-value хранилищу
REDIS_URL=
# Адрес для проверки в entrypoint. По умолчанию: redis
REDIS_HOST=
# ---------------------------
# FLOWER
# ---------------------------
# Адрес, по которому должен слушать HTTP-сервер Flower
FLOWER_ADDRESS=0.0.0.0
# Порт на котором будет запущен HTTP-сервер Flower
FLOWER_PORT=5555
# Префикс url-адреса для разделения. По умолчанию: flower
FLOWER_URL_PREFIX=flower"
# Время (в секундах), после чего офлайн-воркеры автоматически удаляются с панели мониторинга
FLOWER_PURGE_OFFLINE_WORKERS=30
# Обеспечивает поддержку заголовков x-real-IP и X-Scheme.
FLOWER_XHEADERS=True
# Параметры влияющие на потребление памяти Celery
# Максимальное количество воркеров состояние которых хранится в памяти
FLOWER_MAX_WORKERS=1000
# Максимальное количество задач состояние которых хранится в памяти
FLOWER_MAX_TASKS=1000

